[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
CN = sqlserver

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = sqlserver
DNS.2 = plataforma-sqlserver
DNS.3 = localhost
